.projects {
  margin: 2%;
  text-align: center;
  justify-content: space-evenly;
}
.acheivements .row,
.projects .row {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.acheivements {
  margin: 2% 3%;
  text-align: center;
}
.foot {
  display: flex;
  justify-content: space-evenly;
}
.title {
  margin: 0 15%;
  font-weight: bold;
}
