.contact {
  text-align: center;
  margin: auto;
}
.contact h2 {
  margin: 10px 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contact .block {
  text-align: center;
  border-radius: 10px;
}
.table {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.table table{
  border-collapse:collapse ;
  font-family: 'Times New Roman', Times, serif;
  width: 120px;
  height: 120px;
  margin:10px 20px;
  border-radius:5px;
  box-shadow: 2px 2px 10px black;
}
tr:nth-child(2) {
  border: black;
}
.contact img {
  width: 65px;
  height: 65px;
  border-radius: 10px;
}
.resume {
  text-align: right;
  font-family:'Times New Roman', Times, serif;
  margin:20px 30px;
  font-size: 20px;
}
.resume a{
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px black;
  border: 1px solid black;
}
.sec-head {
  margin: 20px 20px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(0, 102, 255);
  background: #76b852;
  background: -webkit-linear-gradient(to right, #8DC26F, #76b852);
  background: linear-gradient(to right, #8DC26F, #76b852);
  text-align: center;
}