* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.extra {
  display: none;
}
nav {
  position: relative;
  top: 0;
  z-index: 1;
  height: 100px;
  width: 100%;
  box-shadow: 2px 2px 8px black;
  border-bottom: 1px solid black;
}
label.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 1px 1px 1px black;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  border: 1px solid black;
  text-decoration: none;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 10px;
}
#active {
  background-color: rgb(248, 245, 245);
  color: black;
  box-shadow: 2px 2px 8px rgb(23, 22, 22);
}
nav a:hover {
  background-color: rgb(248, 245, 245);
  color: black;
  box-shadow: 2px 2px 8px rgb(23, 22, 22);
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.times{
  display: none;
}
.profiles_nav{
  display: none;
}
@media (max-width: 1420px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 25px;
  }
}
@media (max-width: 1390px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 20px;
  }
}

@media (max-width: 1249px) {
  .profiles_nav{
    display: block;
  }
  .profiles_nav table {
    border-collapse: separate;
    width: 250px;
  }
  .profiles_nav table tbody td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 8px black;
  }
  .profiles_nav table {
    margin-right: 50px;
    border-spacing: 10px;
  }
  .profiles_nav table td{
    background-color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .profiles_nav table td a{
    text-decoration: none;
    color: black;
  }
  .profiles_nav .sec-head{
    margin: 10px 25px 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .profiles_nav td a:hover{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: none;
  }
  .times{
    display: block;
    margin: 10px;
    text-align: right;
    cursor: pointer;
  }
  .times i{
    border: 3px solid red;
    cursor: pointer;
    color: red;
    border-radius: 50%;
    padding: 5px 8px;
  }
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    background-color: white;
    font-size: 24px;
  }
  .checkbtn {
    display: block;
  }
  #active {
    background-color: white;
    color: black;
    box-shadow: 2px 2px 8px rgb(23, 22, 22);
  }
  nav a:hover {
    color: rgb(249, 248, 248);
    background-color: rgb(250, 247, 247);
    box-shadow: 5px 5px 30px white;
    background: none;
    transition: 0.5s;
  }
  ul {
    resize: horizontal;
    box-shadow: 2px 2px 8px black;
    position: absolute;
    height: 120vh;
    overflow-x: scroll;
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    color: black;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
@media (max-width: 713px) {
  ul {
    width: max-content;
  }
}

@media (max-width: 569px) {
  .sur {
    display: none;
  }
  .extra {
    display: contents;
  }
}
@media (max-width: 434px) {
  .sur {
    display: none;
  }
  label.logo {
    font-size: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 332px) {
  .sur {
    display: none;
  }
  .extra {
    display: none;
  }
  ul {
    width: 80%;
  }
}
