.content{
  margin: 20px;
}
.content .home_content{
  display: flex;
  margin-top: 120px;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.home_content .objective{
  width: 50%;
}
.home_content .objective .myself{
  padding: 30px;
  border-radius: 30px;
  font-family:'Times New Roman', Times, serif;
  font-size: 22px;
  box-shadow: 1px 1px 8px black;
  margin-bottom: 20px;
  text-align: justify;
  height: fit-content;
}
.home_content .picture {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}
.home_content .picture a {
  text-decoration: none;
}
.home_content .picture img {
  width: 200px;
  box-shadow: 1px 1px 2px black;
  height: 250px;
  border-radius: 48%;
}
.home_content .picture table{
  text-align: left;
}
.sec-head {
  border-radius: 30px;
  margin-top: 30px;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  background-color:rgb(0, 102, 255);
  background: #76b852;
  background: -webkit-linear-gradient(to right, #8DC26F, #76b852);
  background: linear-gradient(to right, #8DC26F, #76b852);
  text-align: center;
}
.resume {
  text-align: right;
  position:absolute;
  font-family:'Times New Roman', Times, serif;
  margin:20px 30px;
  font-size: 20px;
  top: 120px;
  right: 20px;
}
.resume a{
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px black;
  border: 1px solid black;
}
.profiles table {
  border-collapse: separate;
  width: 250px;
}
.profiles table tbody td {
  text-align: center;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 8px black;
}
.profiles table {
  border-spacing: 10px;
}

.mobile_content{
  display: none;
}

@media(max-width:1249px) {
  .mobile_content{
    display:grid;
    zoom:0.8;
  }
  .mobile_content .mobi_home_content{
    margin-top: 40px;
  }
  .mobile_content .mobi_home_content .mobi_objective .mobi_myself{
    padding: 30px;
    border-radius: 10px;
    font-family:'Times New Roman', Times, serif ;
    font-size: 17px;
    box-shadow: 1px 1px 8px black;
    margin: 20px;
    text-align: justify;
  }
  .mobile_content .mobi_home_content .mobi_picture {
    margin: 20px 40px;
    display: flex;
    justify-content: space-around;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
  }
  .mobile_content .mobi_home_content .mobi_picture a {
    text-decoration: none;
  }
  .mobile_content .mobi_home_content .mobi_picture img {
    width: 120px;
    margin: 20px;
    box-shadow: 1px 1px 5px black;
    height: 148px;
    border-radius: 48%;
  }
  .content{
    display: none;
  }
  .fixed{
    display: none;
  }
  .mobi_resume {
    text-align: right;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 10px;
  }
  .mobi_resume a{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px black;
    border: 1px solid black;
  }
  .mobi_list table{
    margin-top: 80px;
  }
  .head_list tr{
    padding: 10px;
  }
}