.education {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.education table {
  text-align: center;
  margin: 15px;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid black;
  width: 400px;
  height: 250px;
  box-shadow: 2px 2px 10px black;
}
.education .table1 {
  padding: 10px;
}
.education table td {
  display: block;
  font-size: larger;
  text-align: left;
  padding-left: 20px;
}
.education table th {
  font-size: larger;
  padding: 10px 0;
  border-bottom: 1px solid black;
}
.score
{
  border-top: 1px dotted black;
}
.container h2 {
  margin: 20px auto;
  text-align: center;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skill_item img {
  border:1px solid black;
  border-radius: 10px;
  height: 120px;
  width: 120px;
  box-shadow: 1px 1px 5px black;
}
.col1 {
  margin: 20px;
}
.sec-head {
  margin: 10px 0;
  font-family: 'Times New Roman', Times, serif;
  background-color:rgb(0, 102, 255);
  background: #76b852;
  background: -webkit-linear-gradient(to right, #8DC26F, #76b852);
  background: linear-gradient(to right, #8DC26F, #76b852);
  text-align: center;
}